<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  
  <title> About Us </title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"/>

</head>

<body style="background-color: #0093E9;
background-image: linear-gradient(180deg, #0093E9 5%, #80D0C7 99%)">

  <div class="container-fluid my-4">
    <nav class="navbar sticky-top navbar navbar-expand-lg navbar-dark bg-dark"> 
      <div class="container-fluid">
      <a class="navbar-brand" href="#">Appointment Booking </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link active text-white" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" href="/AboutUs">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" href="/home">Contact</a>
          </li>
        </ul>
        <form class="d-flex">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <button class="btn btn-primary rounded-pill ml-2" role="button" formaction="/">Login</button>
          </li>
          <li class="nav-item">
            <button class="btn btn-primary rounded-pill ml-2" role="button" formaction='/logout'>Logout</button>
          </li>
        </ul>
      </form>
      </div>
    </div>
    </nav> <br>
    <h3 class="text-center">Appointment Booking App</h3><br>

    <section class="vh-100">
        <div class="container-fluid h-custom">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
              <img src="AboutUs1.jpg"
                class="img-fluid" alt="AboutUs image">
            </div>

    <div class="container mt-5">
        <h4 class="text-center"> About Us </h4><br>
        <h5><p><strong>
            Welcome to our appointment booking app! We are dedicated to providing a seamless and 
            convenient solution for managing your appointments. Our app streamlines the process of
            scheduling and organizing appointments, saving you time and effort. Whether you are a 
            busy professional, a healthcare provider, or a service-based business, our platform is
            designed to meet your specific needs. With our user-friendly interface and intuitive features,
            you can easily book appointments, view availability, and receive timely reminders.
            Our goal is to empower you to take control of your schedule, enhance productivity,
            and improve customer satisfaction. Join us and experience the efficiency and convenience of our
            appointment booking app today!
        </strong></h5>
        </p>
        <div class="text-center">
        <a href="/" class="btn btn-primary btn-lg rounded-pill mr-3" role="button">Take a Tour ! </a>
    </div>
            </div>
        </div>
    </div>

    <div class="container-fluid my-5">

        <!-- Footer -->
        <footer class="text-center text-lg-start text-white" style="background-color:#0275d8">
          <!-- Section: Social media -->
          <section class="d-flex justify-content-between p-4" style="background-color: #1c0a82">
            <!-- Left -->
            <div class="me-5">
              <span>Get connected with us on social networks:</span>
            </div>
            <!-- Left -->
  
            <!-- Right -->
            <div>
              <a href="" class="text-white m-3">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="" class="text-white m-3">
                <i class="bi bi-twitter"></i>
              </a>
              <a href="" class="text-white m-3">
                <i class="bi bi-google"></i>
              </a>
              <a href="#" class="text-white m-3">
                <i class="bi bi-instagram"></i>
              </a>
              <a href="" class="text-white m-3">
                <i class="bi bi-linkedin"></i>
              </a>
              <a href="#" class="text-white m-3">
                <i class="bi bi-github"></i>
              </a>
            </div>
          </section>
      
          <section class="">
            <div class="container text-center text-md-start mt-5">
              <!-- Grid row -->
              <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                  <!-- Content -->
                  <h6 class="text-uppercase fw-bold"> </h6>
                  <hr class="mb-4 mt-0 d-inline-block mx-auto"
                    style="width: 60px; background-color: #1c0a82; height: 2px" />
                  
                </div>
                <!-- Grid column -->
  
                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                  <!-- Links -->
                  <h6 class="text-uppercase fw-bold">Departments</h6>
                  <hr class="mb-4 mt-0 d-inline-block mx-auto"
                    style="width: 60px; background-color: #1c0a82; height: 2px" />
                  <p>
                    <a href="" class="text-white"> Mechnical </a>
                  </p>
                  <p>
                    <a href="" class="text-white">Electrical </a>
                  </p>
                  <p>
                    <a href="" class="text-white">ENTC </a>
                  </p>
                  <p>
                    <a href="" class="text-white">IT</a>
                  </p>
                  <p>
                    <a href="" class="text-white">Computer Science</a>
                  </p>
                  <p>
                    <a href="" class="text-white">AI & DS</a>
                  </p>
                </div>
                <!-- Grid column -->
  
                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                  <!-- Links -->
                  <h6 class="text-uppercase fw-bold">Location</h6>
                  <hr class="mb-4 mt-0 d-inline-block mx-auto"
                    style="width: 60px; background-color: #1c0a82; height: 2px" />
                  <p style="justify-content: center;">
                    <iframe src=""></iframe>
  
                  </p>
  
                </div>
                <!-- Grid column -->
  
                <!-- Grid column -->
                <div class="col-md-4 col-lg-4 col-xl-3 mx-auto mb-md-0 mb-2">
                  <!-- Links -->
                  <h6 class="text-uppercase fw-bold">Contact Us</h6>
                  <hr class="mb-4 mt-0 d-inline-block mx-auto"
                    style="width: 60px; background-color: #1c0a82; height: 2px" />
                  <p></p>
                  <p>
                    <i class="bi bi-envelope-fill"></i><a
                      href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=abc@gmail.com" target="_blank"
                      class="text-white"></a>
                  </p>
                  <p>
                    <i class="bi bi-telephone-fill"></i><a href="tel:" class="text-white"> 
                    </a>
                  </p>
                </div>
                <!-- Grid column -->
              </div>
              <!-- Grid row -->
            </div>
          </section>
          <!-- Section: Links  -->
  
          <!-- Copyright -->
          <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2023 Copyright:
            <a class="text-white" href="">Dept of Information Technology</a>
          </div>
          <!-- Copyright -->
        </footer>
        <!-- Footer -->
  
      </div>
  
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
      <script src="/script.js"></script>
  
  </body>
  
  </html>
